.carouselimg {
        height: 500px;
        width: 100%;
}

.icone {
        position:fixed;
        top: 50%;
}
#profil section
{
        display: flex;
        justify-content: center;
}
#profil img
{
    max-width: 360px;
    height: 250px;
    border-radius: 10px 0 0 10px;
    margin-right: 40px;
    object-fit: cover;
    box-shadow: 1px 1px 1px 1px black;
    
}

img {
        margin: 0;
        padding: 0;
        /* width: 12rem; */
        /* height: 120px; */
        object-fit: cover;

}

.img-thumbnail{
        height: 140px !important;
        background-color: #f39c12 !important;

}


.card-title {
        font-size: 1em;
}

.tricks{
        display: flex;
        flex-wrap: wrap; 
        background-color: #F2F2F2;
        justify-content: center; 

} 

/* .tricks article{
        background-color: white;
        width: 30%;
        height: 17em;
        border-radius: 1em;
        margin: .6em;
        padding: 0.1em;
}  */