.carouselimg {
        height: 500px;
        width: 100%;
}

.icone {
        position:fixed;
        top: 50%;
}
#profil section
{
        display: flex;
        justify-content: center;
}
#profil img
{
    max-width: 360px;
    height: 250px;
    border-radius: 10px 0 0 10px;
    margin-right: 40px;
    object-fit: cover;
    box-shadow: 1px 1px 1px 1px black;
    
}
