* {
  font-family: 'Poppins', sans-serif;  
}

img {
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.carouselimg {
  height: 470px;
  width: 100%;
  object-fit: fill;
}

.icone {
  position: fixed;
  top: 50%;
}

#profil section {
  display: flex;
  justify-content: center;
}

.card-title {
  margin-bottom: -0.25rem !important;
  font-size: 1em;
}

.card-body {
  padding: 0.25rem !important;
}

.imgvids img {
  height: 112px;
}

.trickspic img {
  /* height: 370px; */
  width: 100%;
  object-fit: fill;
}

.img-thumbnail {
  width: 100%;
  height: 140px !important;
  background-color: #f39c12 !important;
}

.carouselimages {
  width: 150px;
  height: 150px;
}

.carouselvids {
  width: 150px;
  height: 150px;
}

.imgvids {
  display: flex;
  justify-content: space-between;
}

iframe {
  border: 0;
  width: 100%;
  height: 112px;
}

.titre {
  position: absolute;
  left: 50%;
  top: 50%;
}

.tricks {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  justify-content: center;
}

.pagination {
  justify-content: center;
}

.fa-chevron-down  {
  position: absolute;
  top : 88%;
  left: 90%;
  z-index: 10;
}

.fa-chevron-up {
  position: absolute;
  left: 90%;
  z-index: 10;
}

.infostricks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 6px 0px;
 
}.infostricks li {
  list-style: none;
  padding: 4px 10px;
  border: 5px solid white;
}

.commentaire {
  display: flex;
  align-items: center;
}

.commentaire i {
  font-size: 2em;
  margin-right: 8px;
}

.commentaire span {
  font-size: 1.4em;
  background-color: #f2f2f2;
  color: black;
  padding: 4px 14px;
}

.trickspic .fas {
  position: absolute;
  left: 95%;
  top: 14%;
  border-radius: 5px;
  padding: 2px 5px;
  display: flex;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .trickspic .fas { 
    left: 88%;
    top: 14%; 
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .trickspic .fas { 
    left: 92%;
    top: 14%; 
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .trickspic .fas { 
    left: 94%;
    top: 14%; 
  }
}